name: 'bookstore-microservice-infra'
services:

  bookstore-rabbitmq:
    image: rabbitmq:4.0.4-management
    container_name: bookstore-rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 30s
      timeout: 30s
      retries: 10
    networks:
      - bookstore-network
    deploy:
      resources:
        limits:
          memory: 500m

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    platform: linux/amd64
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - bookstore-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    command: [ 'start-dev', '--import-realm' ,'--http-port=9191' ]
    container_name: keycloak
    hostname: keycloak
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./realm-config:/opt/keycloak/data/import
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin1234
    ports:
      - "9191:9191"
    networks:
      - bookstore-network
    deploy:
      resources:
        limits:
          memory: 2gb

volumes:
  keycloak_data:

networks:
  bookstore-network:
    external: true
